@import "tailwindcss";


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility th-cell {
  @apply px-6 py-4 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider;
}

@utility tbody-row {
  @apply hover:bg-blue-50 transition-colors duration-150;
}

@utility tbody-tds {
  @apply px-6 py-4 whitespace-nowrap;
}